---
import Layout from "../Layouts/layout.astro"

//components
import Button from "../components/atoms/button/button.astro";
---

<Layout title="Home Page">
	
	<h1>Home page</h1>
	<Button 
		text="Download CV" 
		textColor="text-black"
		bgColor="bg-white" 
		borderColor="border-black">
	
</Layout>
